<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<link rel="stylesheet" href="../static/css/mobile.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <title>Travel Buddy - Carpools</title>
</head>

<body>
    <div class="ui container">
        <!-- make a menu with options to create car pool and search car pools -->
        <div class="ui secondary pointing menu big">
			<a class="item" href="/profile">
				<i class="user icon"></i>
				<div class="mobile hidden">Profile</div>
			</a>
			
			<a class="item" href="/routes">
				<i class="map icon"></i>
				<div class="mobile hidden">Journeys</div>
			</a>
			<a class="item active" href="/carpools">
				<i class="car icon"></i>
				<div class="mobile hidden">Carpools</div>
			</a>
			<a class="item" href="/settings">
				<i class="settings icon"></i>
				<div class="mobile hidden">Settings</div>
			</a>
			<a class="item right" href="/logout">
				<i class="sign out alternate icon"></i>
				<div class="mobile hidden">Logout</div>
			</a>
		</div>
        <div class="ui grid divided stackable">
            {% if errors %}
            <div class="row">
                <div class="ui negative message fluid" style="width: 100%;">
                    <div class="header">
                        There was a problem submitting your car pool offer.
                    </div>
                    <ul class="list">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <form class="ui form" style="width: 100%;" method="POST">
                    <h4 class="dividing header ui">Location</h4>
                    <div class="two fields">
                        <div class="field">
                            <label>From</label>
                            <input type="text" required name="location-from" placeholder="City, State">
                        </div>
                        <div class="field">
                            <label>To</label>
                            <input type="text" required name="location-to" placeholder="City, State">
                        </div>
                    </div>
                    <h4 class="dividing header ui">Date</h4>
                    <div class="field">
                        <label>Journey Start Date</label>
                        <input required name="date-from" type="datetime-local">
                    </div>
                    <h4 class="dividing header ui">Extra Information</h4>
                    <div class="field">
                        <textarea maxlength=500 required name="description" id="description_input" cols="4" rows="4" placeholder="Describe the meet up place, the journey and cost of the seat."></textarea>
                        <div id="description_character_limit"></div>
                    </div>
                    <div class="field">
                        <label>Number of seats available</label>
                        <input required name="seats" type="number">
                    </div>
                    <input class="ui fluid button green" type="submit" value="Create car pool offer">
                </form>
            </div>
            <div class="ui horizontal divider"></div>
            {% for ride in carpools %}
            <div class="row">
                <div class="ui grid stackable" style="width: 100%;">
                    <div class="two wide column">
                        <div class="ui image fluid">
                            <img src="https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
                        </div>
                        <div style="text-align: center;">
                            {{ride[1]}}
                        </div>
                        <div style="text-align: center;">
                            <div class="ui star rating" data-max-rating="1">
                                <i class="icon active"></i>
                            </div>
                            {{ride[7]}} ({{ride[8]}})
                        </div>
                        
                        <div class="ui label small fluid" style="text-align: center;">
                            <i class="icon car"></i>
                            Seats left: {{ride[2]}}
                        </div>
                    </div>
                    <div class="fourteen wide column">
                        <div class="ui steps fluid">
                            <a class="active step">
                                <div class="content">
                                    <div class="title">{{ride[3]}}</div>
                                    <div class="description">{{ride[5]}}</div>
                                </div>
                            </a>
                            <a class="step">
                                <div class="content">
                                    <div class="title">{{ride[4]}}</div>
                                    <div class="description">ESTIMATED TIME HERE PLEASE</div>
                                </div>
                            </a>
                        </div>
                        
                        <p>{{ride[6]}}</p>

                        <button class="ui button fluid">
                            <i class="icon car"></i>
                            I'm interested
                        </button>
                    </div>
                </div>
            </div>

            <div class="ui divider"></div>
            {% endfor %}
        </div>
    </div>
</body>

</html>

<script>
    document.getElementById("description_input").onkeyup = DescriptionCharLimit;
    document.getElementById("description_input").onkeydown = DescriptionCharLimit;

    function DescriptionCharLimit(){
        var limit = 500;
        var text = document.getElementById("description_input").value;

        document.getElementById("description_character_limit").innerHTML = `${limit - text.length} characters left`;
    }

    DescriptionCharLimit();
</script>

<style>
    @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
    * {
		box-sizing: border-box;
		transition: all 0.4s;
		
		font-family: "Montserrat", sans-serif;
	}
</style>