<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<link rel="stylesheet" href="../static/css/mobile.css">
    <link rel="stylesheet" href="../static/css/carpools.css">
    
    <link rel="stylesheet" href="../static/css/theme.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

    <script src="../static/javascript/autocomplete.js"></script>
    <script src={{autocomplete_query}} async></script>

    <title>Travel Buddy - Carpools</title>
</head>

<body>
    <div class="ui container">
        <!-- make a menu with options to create car pool and search car pools -->
        <div class="ui secondary pointing menu big">
			<a class="item" href="/profile">
				<i class="user icon"></i>
				<div class="mobile hidden">Profile</div>
			</a>
			
			<a class="item" href="/routes">
				<i class="map icon"></i>
				<div class="mobile hidden">Route Analysis</div>
			</a>
			<a class="item active" href="/carpools">
				<i class="car icon"></i>
				<div class="mobile hidden">Carpools</div>
			</a>
			<a class="item" href="/settings">
				<i class="settings icon"></i>
				<div class="mobile hidden">Settings</div>
			</a>
			<a class="item right" href="/logout">
				<i class="sign out alternate icon"></i>
				<div class="mobile hidden">Log out of {{username}}</div>
			</a>
		</div>
        <div class="ui grid divided stackable">
            {% if errors %}
            <div class="row">
                <div class="ui negative message fluid" style="width: 100%;">
                    <div class="header">
                        There was a problem submitting your car pool offer.
                    </div>
                    <ul class="list">
                        {% for error in errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <form class="ui form" style="width: 100%;" method="POST">
                    <div class="two fields">
                        <div class="field">
                            <label><i class="fa-solid fa-location-dot"></i> From</label>
                            <input id="input-1" type="text" name="location-from">
                        </div>
                        <div class="field">
                            <label><i class="fa-solid fa-map-location-dot"></i> To</label>
                            <input id="input-2" type="text" name="location-to">
                        </div>
                    </div>
                    <div class="three fields">
                        <div class="field">
                            <label><i class="fa-solid fa-car"></i> Number of Seats Available</label>
                            <input required name="seats" type="number" value="1">
                        </div>
                        <div class="field">
                            <label><i class="fa-solid fa-money-bill"></i> Price Per Passenger (£)</label>
                            <input required name="price" type="number" value="15">
                        </div>
                        <div class="field">
                            <label><i class="fa-solid fa-calendar-days"></i> Journey Start Date</label>
                            <input required name="date-from" type="datetime-local">
                        </div>
                    </div>
                    <h4 class="dividing header ui"><i class="fa-solid fa-book"></i> Extra Information</h4>
                    <div class="field">
                        <textarea maxlength=500 name="description" id="description_input" cols="4" rows="4" placeholder="Describe the pick-up point, the journey, and any additional information."></textarea>
                        <div id="description_character_limit"></div>
                    </div>
                    <!-- <input class="ui fluid button green" type="submit" value="Create"> -->
                    <button class="ui button fluid green theme-4" type="submit"><i class="fa-solid fa-bolt" style="color: white !important;"></i> Create Carpool</button>
                </form>
            </div>
        </div>
        
        <div class="ui grid stackable">
            {% for ride in carpools %}
            <a class="custom-card" id="card-{{ride[0]}}">
                <div class="ui grid stackable" style="width: 100%;">
                    <div class="ten wide column">
                        <div class="city">
                            <span class="left">{{ride[5]}}</span>
                            <span class="right">{{ride[3]}}</span>
                        </div>
                        <div class="city">
                            <span class="left">12:00</span>
                            <span class="right">{{ride[4]}}</span>
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="ui list">
                            <div class="item">
                                <i class="fa-solid fa-car"></i> {{ride[2]}}
                            </div>
                            <div class="item">
                                <i class="fa fa-route"></i> {{ride[8]}}
                            </div>
                            <div class="item">
                                <i class="icon stopwatch"></i>~{{ride[9]}}
                            </div>
                            <div class="item">
                                <i class="icon leaf"></i> {{ride[10]}}kg of CO2 saved
                            </div>
                        </div>
                    </div>
                    <div class="two wide column" style="text-align: right;">£{{ride[6]}}</div>
                    <div class="one wide column" style="text-align: center;">
                        <img src="https://images.unsplash.com/photo-1518806118471-f28b20a1d79d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="ui avatar fluid image">
                    </div>
                    <div class="ten wide column">
                        {{ride[1]}}
                        <br>
                        <i class="icon star"></i>
                        {{ride[11]}} ({{ride[12]}})
                    </div>
                    <div class="five wide column" style="text-align: right;">
                        <i class="fa-solid fa-ban-smoking"></i>
                        <i class="fa-solid fa-joint"></i>
                        <i class="fa-solid fa-bong"></i>
                    </div>
                </div>
                <div class="ui buttons">
                    <button onclick='window.location="/carpools/{{ride[0]}}"' class="ui button green theme-4"><i class="fa-solid fa-circle-info"></i> See Details</button>
                    <div class="ui or"></div>
                    <button onclick="ToggleInterest('{{ride[0]}}');"
                            id="interest-btn-{{ride[0]}}"
                            class="ui button green theme-4"><i class="fa-solid fa-bolt"></i> Show Interest</button>
                </div>
            </a>
            <div class="ui horizontal divider hidden"></div>
            {%endfor%}
        </div>
    </div>
</body>

</html>

<script>
    document.getElementById("description_input").onkeyup = DescriptionCharLimit;
    document.getElementById("description_input").onkeydown = DescriptionCharLimit;

    function DescriptionCharLimit(){
        var limit = 500;
        var text = document.getElementById("description_input").value;

        document.getElementById("description_character_limit").innerHTML = `${limit - text.length} characters left`;
    }

    DescriptionCharLimit();
</script>

<script>
    const current_interested_ids = {{interested_list | tojson}};

    for (var id of current_interested_ids){
        ToggleInterestUI(id, true);
    }

    function ToggleInterest(journey_id){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("interest-btn-" + journey_id).disabled = true;
                document.getElementById("interest-btn-" + journey_id).innerHTML = '<i class="fa-solid fa-spinner"></i>';

                var responseText = this.responseText;

                setTimeout(function(){
                    document.getElementById("interest-btn-" + journey_id).disabled = false;
                    ToggleInterestUI(journey_id, responseText == "True")
                },500);
            }
        };
        xhttp.open("GET", "/toggle_carpool_interest/" + journey_id, true);
        xhttp.send();
    }

    function ToggleInterestUI(journey_id, state){
        if (state){
            document.getElementById("card-"+journey_id).classList.add("active");
            document.getElementById("interest-btn-"+journey_id).innerHTML = "<i class='fa-solid fa-check'></i> Interested";
        } else {
            document.getElementById("card-"+journey_id).classList.remove("active");
            document.getElementById("interest-btn-"+journey_id).innerHTML = "<i class='fa-solid fa-bolt'></i> Show Interest";
        }
    }
</script>

<style>
    @import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
    * {
		box-sizing: border-box;
		font-family: "Open Sans", "Helvetica", "Montserrat", sans-serif;
	}

    .fa-spinner {
        animation: fa-spin 2s infinite linear;
    }
</style>