<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<title>Travel Buddy - My Profile</title>
</head>

<body>
	<div class="ui container" id="container">
		
		<div class="ui secondary pointing menu big">
            <a class="item active" href="/profile">
                <i class="user icon"></i>
                Profile
            </a>
			<a class="item" href="/routes">
                <i class="map icon"></i>
                Journeys
            </a>
            <a class="item" href="/carpools">
                <i class="car icon"></i>
                Carpools
            </a>
			<a class="item" href="/settings">
                <i class="settings icon"></i>
                Settings
            </a>
			<a class="item" href="/logout">
                <i class="key icon"></i>
                Logout
            </a>
        </div>
	
		<div class="ui grid">
			<div class="sixteen wide column">
				<div class="center">
					<div class="ui image small">
						<img class="avatar" src="/static/avatars/{{avatar}}">
					</div>
				</div>
				<div class="center" style="padding: 0.5em;">
					{{ first_name }} {{ last_name }}
					{% if verified == 1 %}
					<i class="check circle icon" data-content="Verified User" style="color: #3498DB;"></i>
					{% endif %}
				</div>
				{% if is_driver == 1 %}
					<div class="center">
						<div class="ui label basic"><i class="car icon"></i> Verified Driver</div>
					</div>
				{% endif %}
				<br>
				<div class="bio">
					{{ bio }}
				</div>
				<div class="ui horizontal divider"><i class="bar chart icon"></i> Top Statistics</div>
				
				<div class="ui equal width grid">
					<br>
					<div class="ui list divided" style="width: 100%;">
						<div class="item">Carpools participated in: <p class="right-align">5</p></div>
						<div class="item">Total distance carpooled: <p class="right-align">103.85km</p></div>
						<div class="item">Estimated CO2 emissions saved: <p class="right-align">~30.5kg</p></div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</body>

</html>

<style>
	@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

	* {
		box-sizing: border-box;
		transition: all 0.4s;
		
		font-family: "Montserrat", sans-serif;
	}
	
	.center {
		text-align: center;
	}
	
	.avatar {
		border-radius: 50%;
	}
	
	.bio {
		border-radius: 0.5em;
		padding: 1em;
		border: 1px solid lightgray;
	}
	
	.right-align {
		float: right;
	}

</style>
