<head>
  <title>Travel Buddy - Carpool</title>
</head>

<body>
  <p>Driver: {{ driver }}</p>
  <p>Seats Available: {{ seats_available }}</p>
  <p>Origin: {{ starting_point }}</p>
  <p>Destination: {{ destination }}</p>
  <p>Pick-up: {{ pickup_datetime }}</p>
  <p>Price: £{{ price }}</p>
  <p>Distance: {{ distance_text }}</p>
  <p>Estimated Duration: {{ estimate_duration_text }}</p>
  <p>Estimated CO2 Emissions: {{ estimate_co2 }}</p>
  <p>Passengers: {list here}</p>
  <p>Description: {{ description }}</p>

  <button type="button">Join/Leave Carpool</button>
</body>